body { font-family: Helvetica, 'Helvetica Neue', 'Segoe UI', Arial; }
h1 { text-align: center; margin: 50px; padding-top: 0; font-weight: normal; }
code { font-family: Monaco, Menlo, Consolas, monospace; }
a.image {
    width: 612px;
    display: block;
    margin: 0 auto;
}
a.image img { border: none; outline: none; }
a.button {
    text-decoration: none;
    text-align: center;
    width: 300px;
    outline: none;
    color: white;
    display: block;
    margin: 50px auto;
    background-color: #007ee5;
    border: none;
    font-size: 16px;
    line-height: 24px;
    padding: 14px;
    -webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45);
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
a.button:active {
    position: relative; top: 3px;
    -webkit-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
}
a.button:active:after { content: ""; width: 100%; height: 3px; background: #fff; position: absolute; bottom: -1px; left: 0; }
p { text-align: center; font-size: 18px; margin-top: 50px; }
